.main{
    padding: 30px 0;

    background-color: #111;

    overflow-x: hidden;
}
.filmList {
    display: flex;
    flex-direction: row;
     list-style: none;
  
}


.film img{
    width: 220px;
    transform: scale(0.95);
    margin: 2px;
}

.film img:hover{
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s;
}

.left{
    width: 50px;
}



